
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --myFont: "Fira Sans";
    --headerFont: "Bebas Neue";
    --dark1: #0a1942;
    --dark2: #440230;
    --light1: #93c9d3;
    --bright1: #720351;
    --grey0: rgb(226, 226, 226);
    --grey1: rgb(187, 187, 187);
    --grey2: rgb(70, 70, 70);
    --card1: #afb2d4;
    --card2: rgb(170, 169, 169);
    
}

body {
    background: url('/images/background02.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--myFont), sans-serif;
    font-size: medium;
    color: grey;
}

body #menu {
    z-index: 9999;
    position: fixed;
    width: 100%;
}

body #menu-item{
    font-family: var(--headerFont), cursive;
    color: white;
    font-size: x-large;
    font-weight: 500;
    padding: 0 4em;
    text-align: center;
    text-shadow: -1px 1px 2px  var(--dark1),
		1px 1px 2px   var(--dark1),
		1px -1px 0   var(--dark1),
		-1px -1px 0   var(--dark1);
}

body #icon {
    color: white;
}

body #main-content {
    margin-top: 1em;
    align-self: center;
    width: 90%;
    padding: 0 2em 3em 2em;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    box-shadow: 0 0 15px 10px var(--bright1);
}

body #main-title {
    font-family: var(--headerFont), cursive;
    font-size: 50pt;
    font-weight: 500;
    width: 100%;
    text-align: center;
    color: var(--grey1);
    text-shadow: -1px 1px 2px  var(--bright1),
		1px 1px 2px   var(--bright1),
		1px -1px 0   var(--bright1),
        -1px -1px 0   var(--bright1);
}

body #title {
    font-family: var(--headerFont), cursive;
    font-size: xxx-large;
    font-weight: 500;
    width: 100%;
    text-align: center;
    color: var(--grey1);
    text-shadow: -1px 1px 2px  var(--bright1),
		1px 1px 2px   var(--bright1),
		1px -1px 0   var(--bright1),
        -1px -1px 0   var(--bright1);
    padding: 1em 0;
}

body #link {
    color: var(--light1);
}

body #center {
    text-align: center;
    text-anchor: middle;
    align-content: center;
    width: 100%;
}

body #footer {
    margin: 0;
    padding: 5em 2em 2em 2em;
    width: 100%;
    font-size: small;
}

body #blog-post {
    width: 100%;
}

body #card {
    background-color: var(--card2);
    opacity: 80%;
    color: white;
}
body #card-content {
    background-color: black;
    opacity: 90%;
    color: white;
}

body #resume-title {
    font-family: var(--headerFont), cursive;
    font-size: 60pt;
    font-weight: 600;
    text-align: center;
    text-shadow: -1px 1px 2px  var(--light1),
		1px 1px 2px   var(--light1),
		1px -1px 0   var(--light1),
		-1px -1px 0   var(--light1);
    padding: 1em 0 0.3em 0;
}

body #resume-subtitle {
    font-size: large;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
}

body #resume-side {
    color: var(--grey1);
}

body #resume-side-text {
    padding-bottom: 1em;
}

body #resume-main {
    background-color: var(--dark1);
    opacity: 80%;
    color: var(--grey0);
}

body #resume-h2 {
    font-size: large;
    font-weight: 600;
    color: white;
}

body #resume-h3 {
    font-size: medium;
    font-weight: 500;
    color: var(--light1);
}

body #resume-corner {
    background-color: var(--dark2);
    padding: 10px;
    color: black;
    margin: 0 -10px -60px 10px;
    z-index: 1;
}

body #resume-row {
    margin: 10px 0;
}


.ui.header {
    font-family: var(--myFont), sans-serif;
    color: white
}

.ui.raised.card {
    margin: 1em;
    opacity: 0.9;
    box-shadow: 0 0 5px 2px var(--bright1);
}

/* Cards */

.header {
    color: var(--light1) !important;
}

.meta {
    color: var(--card1) !important;
}

.description {
    text-align: justify;
    color: var(--grey1) !important;
}